a.index {
    text-decoration: none;
    color: grey;
}

a.index:hover {
    color: white;
    font-style: italic;
}

h3.chapter {
    color: grey;
    font-style: normal;
}

h3.chapter:hover {
    color: white;
    font-style: italic;
}

span.important {
    color: #e685b5;
    font-style: italic;
}

pre {
    background-color: #1c1e23;
    color: #ECEFF4;
    padding: 12px;
    border-radius: 6px;
    overflow-x: auto;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    font-style: italic;
    color: white;
}